@import "tailwindcss";
@import "@nuxt/ui";


@font-face {  
font-family: 'helvetica';  
src: local('helvetica'), url("/helvetica_regular.otf") format('truetype');  
}  
html {  
font-family: 'helvetica';  
}  
body {
    background-color: #F9FAFB;
    color: white;
}
@layer components {
    .t-base {
        font-size: 0.875rem;
        font-weight: 500;
    }
    .t-lg {
        font-size: 1rem;
        font-weight: 500;
    }
    .t-xl {
        font-size: 1.25rem;
        font-weight: 500;
    }
}