@import "tailwindcss";
@import "@nuxt/ui";


@font-face {  
font-family: 'helvetica';  
src: local('helvetica'), url("/helvetica_regular.otf") format('truetype');  
}  
html {  
font-family: 'helvetica';  
}  
